:root {
    --main-bg-color: rgb(253, 253, 253);
    --main-left: #00C9FF;
    --main-right: #92FE9D;
    --main-button-left: #5433FF;
    --main-button-mid: #20BDFF;
    --main-button-right: #A6FFCB;
}