:root {
    --main-bg-color: rgb(253, 253, 253);
    --main-left: #00C9FF;
    --main-right: #92FE9D;
    --main-button-left: #5433FF;
    --main-button-mid: #20BDFF;
    --main-button-right: #A6FFCB;
    --negative-left: #D31027;
    --negative-right: #EA384D;
    --positive-left: #78ffd6;
    --positive-right: #a8ff78;
}