@-webkit-keyframes FadeIn {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes FadeIn {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes GradientSwipe {
    from {
        background-position: 0% 50%
    }

    to {
        background-position: 100% 50%
    }
}

@-moz-keyframes GradientSwipe {
    0% {
        background-position: 0% 50%
    }

    100% {
        background-position: 100% 50%
    }
}

@keyframes GradientSwipe {
    0% {
        background-position: 0% 50%
    }

    100% {
        background-position: 100% 50%
    }
}